/* ===== Note Cards ===== */
.explorer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--explorer-space-3);
}

.explorer-notes-grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-top: var(--explorer-space-4);
}

.is-mobile .explorer-notes-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

 /* grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));  */
  /* gap: var(--explorer-space-4) !important; */
}

.explorer-card {
  /* background: var(--explorer-glass-gradient), var(--explorer-glass-tint);  */
  /* background-color: var(--explorer-glass-tint) !important; */
 /* background-image: var(--explorer-glass-gradient) !important; */
 background-color: var(--explorer-glass-gradient);
  border: var(--explorer-card-border);
  /* box-shadow: var(--explorer-card-shadow); */
  border-radius: var(--explorer-radius-md);
  padding: var(--explorer-space-2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.theme-dark .explorer-card {
  background: var(--explorer-glass-gradient), var(--explorer-glass-tint); 
  background-color: var(--explorer-glass-tint) !important;
  background-image: var(--explorer-glass-gradient) !important;
  /* box-shadow: none; */
 

}
.theme-dark .explorer-card:hover {
   background-color: var(--explorer-bg-interactive-hover) !important;
    border: 1px solid var(--background-modifier-border-hover);

}

.explorer-card:hover {
  border: 1px solid var(--background-modifier-border-hover);
  background-color: var(--explorer-bg-interactive-hover);
   background: var(--explorer-glass-gradient), var(--explorer-glass-tint); 
  background-color: var(--explorer-glass-tint) !important;
   background-image: var(--explorer-glass-gradient) !important;

}
.explorer-card a {
  color: var(--text-accent) !important;
}

/* .is-mobile .explorer-card {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--explorer-space-3);
  --explorer-surface-radius: 0.5em;
} */

.explorer-card:hover {
  --explorer-surface-border: var(--explorer-card-border-hover);
}

.explorer-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: var(--explorer-space-4);
  flex: 1;
}

.explorer-card-exts {
  opacity: 0.4;
  display: flex;
  align-items: flex-start;
  gap: var(--explorer-space-1);
}

.explorer-card-exts:hover {
  opacity: 0.9 !important;
}

.explorer-card-exts svg {
  max-height: 0.9em;
  max-width: 0.9em;
}

.explorer-card-footer {
  opacity: 0.5;
  font-size: 0.7em;
  margin-bottom: 0 !important;
}

.explorer-card-footer:hover {
  opacity: 0.9 !important;
}

.explorer-card-footer a {
  color: var(--text-normal) !important;
}

.explorer-card-footer:hover a {
  color: var(--text-accent) !important;
}

