/* ===== Folder Cards (buttons) ===== */
.explorer-folders-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  /* margin-bottom: 1em; */
}
.is-mobile .explorer-folders-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
.is-mobile .explorer-folder-card {
  max-width: 140px !important;
}
.explorer-folder-card {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--explorer-bg-interactive) !important;
  /* padding: 1.5em 2em; */
  padding: .8em 2em;
  border-radius: 0.8em;
  font-size: 0.9em;
  /* border: var(--exolorer-action-border) !important; */
  /* box-shadow: var(--explorer-action-shadow) !important; */
  transition: .15s;
}
.explorer-folder-card:hover {
  /* border: 1px solid var(--background-modifier-border-hover); */
  background-color: var(--explorer-action-hover) !important;
}
.is-mobile .explorer-folder-card {
  border: var(--exolorer-action-border);
  border-radius: 16px;
  padding: 1.15em .2em;
}
/* .theme-dark .use-glass .explorer-folder-card {
  box-shadow: var(--explorer-action-shadow) !important;
} */
.explorer-folder-card--missing {
  opacity: 0.7;
}
.explorer-folder-link--missing {
  color: var(--text-muted);
}
body.theme-light .explorer-folder-card {
  background-color: var(--background-primary) !important;
}

.explorer-folder-card a{
  font-weight: var(--font-semibold);
  color: var(----bold-color) !important;
}