/* ===== List View ===== */
.explorer-list {
  padding: 0.4em var(--explorer-space-1);
  list-style: none;
  margin-inline-start: var(--explorer-space-4);
  font-size: 0.9em;
}

.explorer-list:hover {
  border-radius: var(--explorer-radius-sm);
}

.explorer-list.pinned a {
  color: var(--color-red) !important;
}

.explorer-list-container {
  --explorer-surface-radius: var(--explorer-radius-md);
  --explorer-surface-border: none;
}

.is-mobile .explorer-list-container {
  margin-top: var(--explorer-space-5);
  padding-bottom: var(--explorer-space-2);
  background-color: var(--explorer-bg-interactive);
  border-radius: 1em;
  
}

.is-mobile .explorer-list {
  margin-inline: var(--explorer-space-4) !important;
  padding: var(--explorer-space-5-5) 0 var(--explorer-space-3)
    var(--explorer-space-3);
}
.is-mobile .explorer-list:hover a {
  text-decoration: underline !important;
  cursor: pointer;
}
.is-mobile li.explorer-list + li.explorer-list {
  border-top: 1px solid var(--background-modifier-border);
}

.is-mobile .explorer-list a {
  color: var(--text-normal) !important;
  font-size: var(--font-text-size);
}

.is-mobile .explorer-list .list-bullet {
  display: none;
}


/* optionnal */
.use-fancy-list.explorer-list-container {
  margin-top: var(--explorer-space-5);
  padding-bottom: var(--explorer-space-2);
  /* background-color: var(--color-red) !important; */
  /* background-color: var(--explorer-bg-interactive); */
  border-radius: 1em;
  
}
.use-fancy-list .explorer-list .list-bullet {
  display: none !important;
}

.use-fancy-list .explorer-list {
  /* margin-inline: var(--explorer-space-4) !important; */
  padding: var(--explorer-space-5) 0 var(--explorer-space-2)
    var(--explorer-space-2);
}
.use-fancy-list .explorer-list:hover a {
  
}
.use-fancy-list li.explorer-list + li.explorer-list {
  border-top: 1px solid var(--background-modifier-border);
}

.use-fancy-list .explorer-list a {
  color: var(--text-normal) !important;
  font-size: var(--font-text-size);
}

.use-fancy-list.explorer-list .list-bullet {
  display: none;
}
