.explorer-container {
  --explorer-glass-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  /* --explorer-action-shadow: none; */
  /* --explorer-action-radius: var(--clickable-icon-radius); */
  /* --explorer-action-transition: none; */
  --explorer-action-hover: rgba(0, 0, 0, 0.1);
  /* --exolorer-action-border: none; */
  --exolorer-action-border-hover: rgba(0,0,0,0.1);
  --explorer-bg-interactive: rgba(0,0,0,0.005);
  --explorer-action-shadow: var(--explorer-glass-shadow);
  --explorer-action-radius: 2em;
  --explorer-action-transition: all 0.2s ease;
  --exolorer-action-border: 1px solid rgba(0, 0, 0, 0.05);
}
.explorer-container.use-glass {
  --explorer-action-shadow: var(--explorer-glass-shadow);
  --explorer-action-radius: 2em;
  --explorer-action-transition: all 0.2s ease;
  --exolorer-action-border: 1px solid rgba(0, 0, 0, 0.05);
}
.theme-dark .explorer-container.use-glass {
   --explorer-glass-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  --explorer-action-border: 1px solid rgba(255, 255, 255, 0.05);
  --explorer-bg-interactive: rgba(255,255,255,0.025);
    --explorer-action-hover: rgba(255, 255, 255, 0.05);
  --explorer-action-border-hover: rgba(255,255,255,0.1);
  
}
.explorer-container {
  --explorer-icon-size: 32px;
  --explorer-group-icon-size: 28px;
}

.is-mobile .explorer-container {
  --explorer-icon-size: 42px;
  --explorer-group-icon-size: 38px; 
}
.explorer-container {
  scroll-margin-top: 10em;
}

:not(.is-mobile) .explorer-hover-scale:hover {
  transform: scale(1.05);
}

/* ===== Badge ===== */
.explorer-badge {
  font-size: 0.7em;
  border-radius: 6px;
  padding: 0.1em 0.5em;
}
.explorer-badge.pin {
  display: inline-flex;
  align-items: center;
  margin-right: 0.3em;
  color: var(--color-red);
}
.explorer-badge.pin svg {
  width: 1em !important;
  height: 1em !important;
}
.explorer-badge.ext {
  opacity: 0.7;
}
.explorer-badge.ext-filled {
  background: var(--background-modifier-border);
  opacity: 0.7;
}



/* ===== Links ===== */
.explorer-container a {
  text-decoration: none !important;
}
.explorer-container a:hover {
  text-decoration: underline !important;
}
.explorer-container a,
.explorer-container a * {
  cursor: pointer;
}

/* ===== Mobile Adjustments ===== */
.is-mobile .modal {
  padding-bottom: 2em;
  max-height: 80vh;
}

.headless-link  {
  color: var(--text-normal) !important;
}
a.headless-link:hover {
  text-decoration: none !important;
}

.radius-md {
  border-radius: var(--radius-md);
}
