/* ===== Note Cards ===== */
/* ===== Grid Layouts ===== */
.explorer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75em;
}

.explorer-notes-grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-top: 1em;
  
}
/* .is-mobile .explorer-notes-grid {
  grid-template-columns: 1fr 1fr !important;
  gap: 0.75em;
} */

.is-mobile .explorer-notes-grid {
  /* grid-template-columns: 1fr !important; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em !important;
  /* gap: 1em; */
}

.explorer-hover-scale {
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}

.explorer-files-container {
  margin-top: 1.5em;
}
.is-mobile .explorer-files-container {
  margin-top:  1.5em;
}
.explorer-card {
  padding: 0.5em;
  border: 1px solid var(--background-modifier-border);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.01);
  border-radius: 6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

}
.explorer-card a {
  color: var(--text-accent) !important;
}
.is-mobile .explorer-card {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: flex-start;
  padding: .75em;
  border-radius: .5em;
}
.is-mobile .explorer-file-cards-container {
  margin-top: 1em;
}

.explorer-card:hover {
  border: 1px solid var(--background-modifier-border-hover);
}
.explorer-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
  flex:1;
  /* min-width: 100%; */
}
.is-mobile .explorer-card-header {

}
.explorer-card-exts {
  opacity: 0.4;
  display: flex;
  align-items: flex-start;
  gap: 0.25em;
}
.explorer-card-exts:hover {
  opacity: 0.9 !important;
}
.explorer-card-exts svg {
  max-height: 0.9em;
  max-width: 0.9em;
}
.explorer-card-footer {
  opacity: 0.5;
  font-size: 0.7em;
  margin-bottom: 0 !important;
}
.explorer-card-footer:hover {
  opacity: 0.9 !important;
}
.explorer-card-footer a {
  color: var(--text-normal) !important;
}
.explorer-card-footer:hover a {
  color: var(--text-accent) !important;
}
.prop-tag svg {
  color: var(--color-red) !important;
}

