/* ===== Pagination ===== */
.paging-controll {
  direction: ltr !important;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0.25em 0.5em;
  border: var(--exolorer-action-border);
  /* background-color: var(--explorer-bg-interactive); */
  box-shadow: var(--explorer-action-shadow);
  border-radius: var(--explorer-action-radius);
}
.paging-label {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  padding: 0.25em 0.75em;
  border-radius: var(--explorer-action-radius);
  cursor: pointer;
}
.paging-label:hover {
  background-color: var(--background-primary-alt);
}
.paging-label.paging-dots {
  padding: 0 !important;
  cursor: default;
}
.paging-icon {
  margin: 0 0.5em;
  font-size: 1.2em;
  color: var(--text-accent);
  padding: 0.2em 0.25em;
  opacity: 1;
}
.paging-label.active-page {
  border: 1px solid var(--background-modifier-border-hover);
  opacity: 1;
  color: var(--text-accent);
}
.paging-controll-nums {
  gap: 0.2em;
  display: flex;
  justify-content: space-around;
}
