.explorer-small {
  color: var(--explorer-small-color, var(--text-muted));
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-light);
}

.explorer-small--muted {
  --explorer-small-color: var(--text-muted);
}

.explorer-small--faint {
  --explorer-small-color: var(--text-faint);
}

.explorer-small--normal {
  --explorer-small-color: var(--text-normal);
}

.explorer-small--accent {
  --explorer-small-color: var(--text-accent);
}

.explorer-small .explorer-small {
  font-size: 1em;
}
